@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/ebgaramond-webfont.eot');
    src: url('../fonts/ebgaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebgaramond-webfont.woff') format('woff'),
         url('../fonts/ebgaramond-webfont.ttf') format('truetype'),
         url('../fonts/ebgaramond-webfont.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blink
{
	0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

html,body
{
margin:0px;
padding:0px;
width:100%;
height:100%;
/*-webkit-transform: translateZ(0);*/ /*gets rid of Chrome artifacting - when you scroll down on the body, the background used to turn black LMS 
                                         however - causes fixed positioning not to work in Chrome*/
}

body
{
background-color:black;
overflow:hidden;
opacity:0;
//transition: background-color 2s linear;
}
.fa-globe {
	position:absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
}
.noselect
{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


h1#title
{
font-family:"Cinzel", Times New Roman, serif;
font-weight:normal;
font-size:200px;
/*line-height:200px;*/
margin:5% 0px 0 0;
color:#454343;
text-align:left;
line-height:.8em;
border-left: 8px solid #007fd4;
padding-left:50px;
position: relative;
z-index: 5;/*LMS*/
}
	h1#title:hover {
		cursor: pointer;
	}
	
#loader {
		position: fixed;
		top: 50%;
		left: 50%;
}	
.intro
{
position:fixed;
left:75px;
width:100%;
font-family:"Muli", Helvetica, Arial;
color:white;
z-index:3;
}	
	.intro h2
	{
	font-family:"Muli", Helvetica, san-serif;
	font-weight:normal;
	text-transform:uppercase;
	font-size:16pt;
	margin:10px 0;
	letter-spacing:.12em;
	}
	
	.intro .text {
	width:60%;
	text-align:left;
	font-size:11pt;
	line-height:1.8em;
	letter-spacing:.1em;
	}
	
		.into .text p:first-child
		{
		margin-top:0;
		
		}
	
	
	
	.intro button
	{
	transition: all .25s ease;
	border:1px solid lightgray;
	background:none;
	padding:15px 30px;
	font-family:"Open Sans", Helvetica, Arial;
	border-radius:5px;
	display:block;
	color:white;
	text-transform:uppercase;
	margin-top:25px
	}
		.intro button:hover
		{
		background-color:#007fd4;
		color:rgba(255,255,255,.9);
		border:1px solid #007fd4;
		cursor:pointer;
		}

.navbarWrapper
{
transition: right .5s ease, opacity 1s linear;
position:fixed;
top:0;
height:100%;
width:200px;
right:-233px;

z-index:2;
}

	.navbarWrapper.out
	{
	right:15px; 
	}

	.navbarWrapper.hidden
	{
	opacity:0;
	}
	
.handle
{
cursor:pointer;
transition: all .25s ease;
font-family: "Muli", Helvetica, Arial, sans-serif;
letter-spacing:.4em;
color:rgba(255,255,255,.8);
border-top: 8px solid #007fd4;
padding-top:10px;
text-transform:uppercase;
text-align:center;
font-size:10pt;
position:absolute;
top: 50%;
width:200px;
}
	.handle:hover
	{
	color:white;
	}
	
	body.white .handle
	{
	color:rgba(0,0,0,.8);
	}
		
		body.white .handle:hover
		{
		color:black;
		}
		
	
	.navbarWrapper .navbar
	{
	width:100%;
	padding-top:20px;
	overflow:hidden;
	height:100%;
	}
		
		.navbarWrapper .navHandle
		{
		-webkit-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		transform:rotate(90deg);
		right: 150px;
		}
		
		.navbarWrapper .fa-angle-double-up, .navbarWrapper .fa-angle-double-down
		{
			color:#007fd4;
			position:absolute;
			right: 227px;
			font-size: 20pt;
			opacity:.2;
			transition: all .25s ease;
		}
		
			.navbarWrapper .fa-angle-double-up:hover, .navbarWrapper .fa-angle-double-down:hover
			{
			opacity:1;
			cursor:pointer;
			}
			
		.navbarWrapper .fa-angle-double-up
		{
		top: 10px;
		}
		
		.navbarWrapper .fa-angle-double-down
		{
		bottom: 10px;
		}
		
		.navbarWrapper .navbar .nav
		{
		color:gray;
		font-family: "Muli", Helvetica, Arial, sans-serif;
		letter-spacing:.12em;
		font-size:8pt;
		text-transform:uppercase;
		margin-bottom:9px;
		font-weight:bold; 
		position:relative;
		top:0px;
		}
		
			.navbarWrapper .navbar .nav:hover, .navbarWrapper .navbar .nav.hover
			{
			color:white;
			cursor:pointer;
			}

#commentsBg {
transition: all .5s linear;
width: 100%;
height: 100%;
background-color: #599ecc;
opacity: 0;
position: absolute;
left:0%;
top: 0;
z-index: 2;
}

.commentsWrapper
{
position:fixed;
top:0;
left:-70%;
height:100%;
width:70%;
min-width: 1000px;
max-width: 1350px;
opacity:0;
background-color: #fff;
z-index:5;
}
	.commentWrapper.out
	{
	left:0;
	}
	
	.commentsHandle
	{
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);
	right: -117px;
	letter-spacing:.2em;
	}
	
	.comments {
		float: right;
		padding: 20px;
		margin-left: 10px;
		background-color: #f1f0f0;
		height: 100%;
	}
	
	.commentsLeft {
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 20px;
		background-color: #f1f0f0;
		height: 100%;
		font-family:"Muli", Helvetica, Arial, sans-serif;
	}
		.commentsLeft h1
		{
		font-weight:normal;
		margin:5px 0px 10px 0;
		padding:0;
		text-align:left;
		line-height:.8em;
		border-left: none;
		font-size:65px;
		color: #76a2be;
		font-weight: 100;
		letter-spacing: -.05em;
		font-family:"Cinzel", Times New Roman, serif;
		text-transform:uppercase;	
		}
		
	
	#commentsForm {
		padding-top: 20px;
		border-bottom: 10px solid #006ab0;
		
	}
	#textareaWrap {
		position: relative;
	}
		#blinking_caret {
			position: absolute;
			top: 0; left: 0;
			animation: blink 1s;
			animation-iteration-count: infinite;
			-webkit-animation: blink 1s;
			-webkit-animation-iteration-count: infinite;
			z-index: 2;
		}
		#formStory {
			width: 100%;
			border: none;
			background-color: #f1f0f0;
			height: 33%;
			cursor: text;
			outline: none;
			overflow: auto;
		}
	input[type=text] {
		color: #333;
		font-family: "futurabold", Arial, Helvetica, sans-serif;
		text-transform: none;
		font-weight: 200;
		font-size: 110%;
		/*margin-bottom: 10px;*/
		outline-style: none;
		border: 0 none;
		background-color: #f1f0f0;
	}
	#first, #last {
		margin-bottom: 10px;
	}
	::-webkit-input-placeholder {
	   font-family: "futurabold", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 120%;color: #4a8fbc;
	}

	:-moz-placeholder { /* Firefox 18- */
	   font-family: "futurabold", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 120%;color: #4a8fbc;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   font-family: "futurabold", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 120%;color: #4a8fbc;  
	}

	:-ms-input-placeholder {  
	   font-family: "futurabold", Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 120%;color: #4a8fbc;  
	}
	
	#first {
	float: left;border-right: 2px solid #b5b5b5;}
	#last {
	float: right;
	}
	#contact, #origin, #neighborhood {
		width: 100%;
	}
	
	#tellus_submit {
		background-color: #b5b5b5;
		color: black;
		font-family: "futurabold", Arial, Helvetica, sans-serif;
		font-size: 75%;
		letter-spacing: .4em;
		text-transform: uppercase;
		font-weight: 900;
		padding: 20px 20px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		border-radius: 15px; /* future proofing */
		width: 80px;
		text-align: center;
		position: absolute;
		right: 20px;
		z-index: 2;
		cursor: pointer;
	}
	#tellus_submit:hover {
		opacity: .8;
	}
	.row {
		padding: 10px 0;
		border-top: 1px solid #333;
		width: 100%;
		clear: both;
	}
	
			
.videoHolder
{
position:relative;
width:100%;
height:100%;
top:0;
left:0;
}

.fullscreen
{
width:100%;
height:100%;
top:0;
left:0;
position:absolute;
background-color:white;
}

.story
{
width: 50%;
max-width: 1000px;
padding-top:70px;
background-color: white;
z-index: 99;
display: none;
position: relative;
padding-right: 20px;

}
	.story #arrowup {
		position: fixed;
		top: 20px;
		right: 25px;
		padding: 10px;
		
	}
		.story #arrowup .fa-arrow-circle-up {
			color:#007fd4;
			opacity: .2;
			font-size:75px;
		}
		.story #arrowup .fa-arrow-circle-up:hover {
			opacity: 1;
			cursor: pointer;
		}
	.story h1
	{
	font-family:"Cinzel", "Time New Roman", serif;
	font-weight: normal;
	font-size:200%;
	line-height:1.1em;
	text-transform: uppercase;
	margin-bottom: 40px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
	
	.story .text
	{
	margin-left: 276px;
	font-family:"Muli", sans-serif;
	font-size:12pt;
	line-height:1.7em;
	display: inline-block;
	position: relative;
	
	}
		
		 
		
		.text #bio {
			position: relative;
			color: #666;
			margin-top: 20px;
		}
		.text #bio .imgWrap_horizontal {
			width: 100%;
			padding: 20px 0;
			border-top: 1px solid #afb0a9;
			border-bottom: 1px solid #afb0a9;
			position: relative;
		}
		.text #bio .imgWrap_horizontal img {
			width: 66%;
			height: auto;
		}
		
		.text #bio .imgWrap_vertical {
			padding: 20px 0;
			border-top: 1px solid #afb0a9;
			border-bottom: 1px solid #afb0a9;
			float: left;
			margin-right: 30px;
			margin-bottom: 20px;
			position: relative;
		}
		
		.caption {
			font-family:"Muli", sans-serif;
			font-size: 90%;
			line-height:1.7em;
		}
		
		.imgWrap_horizontal .caption {
			position: absolute;
			bottom: 25px;
		}
		
		#bio .quote {
			width: 33%;
			color: lightgray;
			font-weight: 500;
			font-size: 110%;
			color: #333;
			font-family:"Lora", serif;
			line-height:1.7em;
			padding: 20px 10px;
			border-top: 1px solid #afb0a9;
			border-bottom: 5px solid #bcd1d9;
			float: right;
			display: inline-block;
			margin-top: 20px;
		}
		
		#bio .BrightcoveExperience {
			width: 100%;
			height: auto;
		}
	
	.story #personStats {
		position: fixed;
		font-family:"Muli", sans-serif;
		display:none;
		max-width: 196px;
		
	}
		img.portrait {
			/*padding: 5px 10px 0 0;
			margin: 20px 20px 0 0;*/
			margin-bottom: 20px;
			max-width: 196px;
			height: auto;
			border-bottom: 1px solid lightgray;
		}
		#name {
			font-weight: bold;
			font-size: 110%;
			color: #262626;
			letter-spacing: .02em;
		}
		#country {
			color: #262626;
			letter-spacing: .09em;
			margin-top: 5px;
			font-size: 80%;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		
		.personSubhead {
			color: #999;
			text-transform: uppercase;
			font-size: 70%;
		}
		#age, #origin, #pghHome, #occupation {
			margin-bottom: 7px;
		}
		.personStat {
			color: #333;
			font-weight: bold;
			font-size: 80%;
		}
		.countryMap {
			/*width: 100%;*/
			height: auto;
			background-color: #999;
			margin-top: 10px;
		}
		.countryMapHolder {
			text-align: center;
		}
		#factoid {
			border-bottom: 5px solid #eceae0;
			margin-top: 20px;
			padding-bottom: 20px;
		}
		#factoid #didyouknow {
			font-weight: bold;
			color: #333;
			margin-bottom: 10px;
	
		}
		#factoid #factoidtext {
			font-weight: normal;
			color: #333;
			line-height:1.2em;
	
		}
#canvas
{
width:100%;
height:100%;
position:fixed;
top:0;
left:0;
z-index:1;
}

.circle 
{
fill:blue;
filter:url("#glow");
stroke:none;
}
	.circle.small
	{
	fill:"";
	filter:"";
	fill:"white";
	stroke:"lightgray"
	}

.country 
{
fill: #004674;
stroke: rgba(0,130,216,.3);
stroke-width: 1px;
transition: all 0.5s;
}
	.country:hover , .country.hover
	{
		fill:white;
		filter:url("#countryGlow");
	}
	
	.country.small
	{
	fill:#aaa;
	stroke:#bbb;
	}
	
		.country.small:hover
		{
		filter:none;
		}
	
.countryText
{
font-family:Arial;
font-weight:bold;
font-size:12pt;
fill:rgba(255,255,255,.5);
letter-spacing:.1em;

}

	.countryText:hover
	{
	fill:rgba(255,255,255,1);
	cursor:pointer;
	}

#credits {
	position: fixed;
	left: 70px; bottom: 50px;
	z-index: 5;
	width: 230px;	
}	
	.fa-facebook-square {
		color: #3b5a9b;
		
	}
	
	.social {
		opacity: .7;
		padding-right: 5px;
		cursor: pointer;
	}
	.fa-twitter-square{
		color: #2baae1;
		padding-right: 30px;
		border-right: 2px solid #b8b8b8;
		
	}
	.social:hover {
		opacity: 1;
	}
	#pglogo {
		width: 2em;
		height: auto;
	}
	#creditslink {
		cursor: pointer;
		color: #b8b8b8;
		text-transform: uppercase;
		padding-left: 20px;
		font-family: "Muli", Helvetica, Arial;
		position: absolute;
		top: 20%;
		right: 0;
	}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); font-family: Helvetica, Arial, sans-serif;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
