@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/ebgaramond-webfont.eot');
    src: url('../fonts/ebgaramond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ebgaramond-webfont.woff') format('woff'),
         url('../fonts/ebgaramond-webfont.ttf') format('truetype'),
         url('../fonts/ebgaramond-webfont.svg#eb_garamondregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body
{
margin:0px;
padding:0px;
width:100%;
height:100%;
}

body
{
background-color:black;
overflow:hidden;
opacity:0;
}

.noselect
{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.browse
{
overflow:hidden;
position:relative;
width:100%;
height:100%;
top:0;
left:0;
}

h1#title
{
font-family:"Cinzel", Times New Roman, serif;
font-weight:normal;
font-size:200px;
//line-height:200px;
margin:5% 0px 0 0;
color:#454343;
text-align:left;
line-height:.8em;
border-left: 8px solid #007fd4;
padding-left:50px;
}

.intro
{
position:relative;
left:75px;
width:100%;
font-family:"Muli", Helvetica, Arial;
color:white;
z-index:3;
}	
	.intro h2
	{
	font-family:"Muli", Helvetica, san-serif;
	font-weight:normal;
	text-transform:uppercase;
	font-size:16pt;
	margin:10px 0;
	letter-spacing:.12em;
	}
	
	.intro .text {
	width:60%;
	text-align:left;
	font-size:11pt;
	line-height:1.8em;
	letter-spacing:.1em;
	}
	
		.into .text p:first-child
		{
		margin-top:0;
		
		}
	
	.intro button
	{
	transition: all .25s ease;
	border:1px solid lightgray;
	background:none;
	padding:15px 30px;
	font-family:"Open Sans", Helvetica, Arial;
	border-radius:5px;
	display:block;
	color:white;
	text-transform:uppercase;
	margin-top:25px
	}
		.intro button:hover
		{
		background-color:#007fd4;
		color:rgba(255,255,255,.9);
		border:1px solid #007fd4;
		cursor:pointer;
		}

.navbarWrapper
{
transition: right .5s ease;
position:absolute;
top:0;
height:100%;
width:200px;
right:-213px;
opacity:0;
z-index:2;
}

	.navbarWrapper.out
	{
	right:15px; 
	}

.handle
{
cursor:pointer;
transition: all .25s ease;
font-family: "Muli", Helvetica, Arial, sans-serif;
letter-spacing:.4em;
color:rgba(255,255,255,.8);
border-top: 8px solid #007fd4;
padding-top:10px;
text-transform:uppercase;
text-align:center;
font-size:10pt;
position:absolute;
top: 50%;
width:200px;
}
	.handle:hover
	{
	color:white;
	}
	
	
	.navbarWrapper .navbar
	{
	width:100%;
	padding-top:20px;
	overflow:hidden;
	height:100%;
	}
		
		.navbarWrapper .navHandle
		{
		-webkit-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		transform:rotate(90deg);
		right: 150px;
		}
		
		.navbarWrapper .fa-angle-double-up, .navbarWrapper .fa-angle-double-down
		{
			color:#007fd4;
			position:absolute;
			right: 227px;
			font-size: 20pt;
			opacity:.2;
			transition: all .25s ease;
		}
		
			.navbarWrapper .fa-angle-double-up:hover, .navbarWrapper .fa-angle-double-down:hover
			{
			opacity:1;
			cursor:pointer;
			}
			
		.navbarWrapper .fa-angle-double-up
		{
		top: 10px;
		}
		
		.navbarWrapper .fa-angle-double-down
		{
		bottom: 10px;
		}
		
		.navbarWrapper .navbar .nav
		{
		color:gray;
		font-family: "Muli", Helvetica, Arial, sans-serif;
		letter-spacing:.12em;
		font-size:8pt;
		text-transform:uppercase;
		margin-bottom:9px;
		font-weight:bold; 
		position:relative;
		top:0px;
		}
		
			.navbarWrapper .navbar .nav:hover
			{
			color:white;
			cursor:pointer;
			}

.commentsWrapper
{
position:absolute;
top:0;
height:100%;
width:90%;
left:-90%;
opacity:0;
z-index:2;
}

	.commentsHandle
	{
	-webkit-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);
	right: -117px;
	letter-spacing:.2em;
	}
			
.videoHolder
{
position:absolute;
width:100%;
height:100%;
top:0;
left:0;
}

.fullscreen
{
width:100%;
height:100%;
top:0;
left:0;
position:absolute;
}

.story
{
width: 50%;
max-width: 1000px;
padding-top:70px;
background-color: white;
z-index: 5;
display: none;
position: relative;
padding-right: 20px;
}
	
	
	.story h1
	{
	font-family:"Lora", "Time New Roman", serif;
	font-weight: normal;
	font-size:150%;
	line-height:1.1em;
	text-transform: uppercase;
	margin-bottom: 20px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
	
	.story .text
	{
	font-family:"Muli", sans-serif;
	width:65%;
	margin-left:30%;
	font-size:10pt;
	line-height:1.7em;
	display: inline-block;
	
	}
		.story .text  img.portrait {
			float: left;
			padding: 5px 10px 0 0;
			max-width: 100px;
			height: auto;
		}
		
		.story .text  img.personPhoto {
			float: left;
			padding-right: 20px;
			width: 50%;
			height: auto;
		}
	
	.story #personStats {
		position: fixed;
		font-family:"Muli", sans-serif;
		display:none;
		
	}
		#name {
			font-weight: bold;
			font-size: 110%;
			color: #262626;
			letter-spacing: .02em;
		}
		#country {
			color: #262626;
			letter-spacing: .09em;
			margin-top: 5px;
			font-size: 80%;
			text-transform: uppercase;
			margin-bottom: 40px;
		}
		
		.personSubhead {
			color: #999;
			text-transform: uppercase;
			font-size: 70%;
		}
		#age, #origin, #pghHome, #occupation {
			margin-bottom: 7px;
		}
		.personStat {
			color: #333;
			font-weight: bold;
			font-size: 80%;
		}
		.countryMap {
			width: 100%;
			height: auto;
			background-color: #999;
			margin-top: 10px;
		}
		.countryMapHolder {
			text-align: center;
		}


#canvas
{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:1;
}

.country 
{
fill: #004674;
stroke: rgba(0,130,216,.3);
stroke-width: 1px;
transition: all 0.5s;
}
	.country:hover , .country.hover
	{
		fill:white;
		filter:url("#countryGlow");
	}
	
.countryText
{
font-family:Arial;
font-weight:bold;
font-size:12pt;
fill:rgba(255,255,255,.5);
letter-spacing:.1em;

}

	.countryText:hover
	{
	fill:rgba(255,255,255,1);
	cursor:pointer;
	}