html
{
height:100%;
color:#111;
height: 100%;
}

body
{
padding:0px; 
margin:0px;	
height:auto;
overflow-x:hidden;
}

#grayout {
	display: none;
	background: #1A3759;/*#0a294d; */
	position: fixed; 
	left: 0; top: 0; 
	width: 100%; height: 100%;
	opacity: 0.9;
	z-index: 5;
}
#bigsmall {
	position: absolute;
	left: 22%;
	top: 80px;
}
.header
{
position:fixed;
top:0;
width:100%;
height:150px;
padding:10px;
z-index:3;
background-color: white;
/*margin-top:-50px;*/

}

	.header .logo
	{
	width:60px;
	height:100%;
	background:  url("http://newsinteractive.post-gazette.com/longform/img/PG.png") no-repeat left top;
	/*border-right:1px solid lightgray;*/
	padding-right:65px;
	margin-right:10px;
	float:left;
	cursor: pointer;
	}
	
	.header h1 {
		font-family: 'Josefin Sans', sans-serif;
		text-transform: uppercase;
		text-align: center;
		color: #4b92db/*#A1B3DA*/ /*#6690CB*/;
		margin-bottom: 2px;
		padding-top: 0;
		margin-top: 15px;
		letter-spacing: 0;
		font-size: 500%;
	}
	.header h2 {
		margin: 10px 0;
		font-family: Helvetica, sans-serif;
		text-align: center;
		color: #aaa;
		font-size: 160%;
	}
	
	
		

#content {
	margin-top: 100px;
	min-height: 800px;
	width: 100%;
	height: 60%;
	
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	color: #000;
	
}
 .socialWrapper {
position: absolute;
	bottom: 20px;
	left: 0px;
	/*background-color: #fff;*/
	/*padding: 5px;*/
	/*border-radius: 0 5px 5px 0;*/
	z-index: 99;
	
}
.social {
	
	border-bottom: 1px solid #aaa; 
	display:table-cell;
		vertical-align: baseline;
}
	.social .logo
	{
	width: 36px;
	height: 29px;
	background: url('../img/PG.png') center bottom;
	float: left;
	margin-left: 10px;
	margin-right:5px;
	margin-top: 0px;
	cursor: pointer;
	}
	.social a i
		{
		/*color:*//*#A1B3DA;*/ /*#4b92db;*/ 
		/*line-height:30px;*/
		
		float: left;
		
		
		}
			.social a i:hover
			{
			opacity: .7;
			cursor:pointer;
			}
			
	.fa-facebook-square {
		color: #3c5a98;margin-bottom: 0px;margin-right: 5px; cursor: pointer;
	}	
	.fa-twitter-square {
		color: #2da8ee;margin-bottom: 0px;cursor: pointer;
	}
	.searchsurround1 {
		padding: 3px 30px;
		border-radius: 10px 0 0 10px ;
		border: 1px solid #aaa;
		float: left;
		cursor: pointer;
		color: #aaa;
	}
	.searchsurround2 {
		padding: 3px 30px;
		border-radius: 0 10px 10px 0 ;
		border: 1px solid #aaa;
		color: #aaa;
		float: left;
		cursor: pointer;
	}
	.creditClick {
	color: #aaa;
	text-transform: uppercase;
	font-family: Helvetica;
	letter-spacing: .05em;
	margin-left: 10px;
	font-size: 80%;
	float: right;
	margin-top: 3px;
	cursor: pointer;
	}
#fTellUs {
	padding: 10px 20px;
	position: absolute;
	left: 40%;
	top: 40%;
	background-color: /*#A1B3DA;*/ #4b92db;
	color: #fff;
	box-shadow:1px 0px 5px gray;
    z-index: 999;
	display: none;
}
	#fTellUs  #thank {
		display: none;
		margin-bottom: 20px;
	}
	#fTellUs .formHead {
		text-align: center;
		font-size: 150%;
		margin-bottom: 10px;
	}
	#fTellUs .submit {
		background-color: white;
	color: gray;
	}
	.close, .closeperson, .closecredits {
		position: absolute;
		right:10px;
		top: 10px;
		cursor: pointer;
		z-index: 15;
		opacity: .7;
	}
	.close:hover, .closeperson:hover, .closecredits:hover{
		opacity: .4;
	}
	.response {
		font-weight: bold;
	}
	#fTellUs form  input, #fTellUs form  textarea, #tellCountry, #tellAge, #tellAbout {
		color: #999; /*#4b92db;*/ /* #A1B3DA;*/
		background-color: white;
	}
	.form-control {
		margin-bottom: 10px;
	}
	table tr td {
		padding: 3px;
		vertical-align: top;
	}
#content #panel {
		position: absolute;
		top: 150px;
		right: -360px;
		width: 360px;
		/*height: 95%;*/
		border: 1px solid #4b92db; /*#A1B3DA;*/
		box-shadow:1px 0px 5px #4b92db;/*#A1B3DA;*/
		padding:20px;
		overflow: auto;
		
	}
.unrepresented {
	color: black;
	cursor: auto;
}
	
.represented {
	cursor: pointer;
	color: #4b92db; /*#A1B3DA;*/
}
.represented:hover {
	text-decoration: underline;
}


#person_wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 10;
	border-radius: 5px;
	background-color: white;
	padding: 20px;
	max-width: 40%;
	max-height: 95%;
}
#vidspace {
	/*border-bottom: 1px solid #aaa;*/
	padding-bottom: 10px;
	margin: 20px 0;
	
}
#Name {
	font-size: 200%;
}
#Country {
	text-transform: uppercase;
	font-size: 90%;
}
#Notes {
	max-height: 50%;
	overflow-y: scroll;
}
#aboutcountry {
	margin-bottom: 10px;
}
.col-md-4 {
	border-left: 1px solid #aaa;
	overflow-y: auto;
}
.col-md-4 img {
	width: 100%;
	height: auto;
	margin: 10px 0;
}
#personInfo {

}
#countriesTab {
	padding: 20px;
	background-color: #4b92db; /*#A1B3DA;*/
	color: white;
	position: absolute;
	top: 50%;
	right: 0;
	box-shadow:1px 0px 5px gray;
	cursor: pointer;
	font-size: 130%;
}

#countriesTab:hover {
	opacity: .50;
}
#loading {
	font-family: Courier, serif;
	padding: 10px;
	border: 1px solid black;
	font-size: 100%;
	position: absolute; top: 55%; left: 47%; z-index: 999;
	background-color: white;
	font-weight: bold;
	
}
#nations {
	padding: 30px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
#nations .country {
	margin: 2px 0;
}
#content #globe {
	width: 100%;
	position: relative;
}

#request {
	position: absolute;
	left: 0;
	top: 50%;
	background-color: #384F7F;
	color: #fff;
	cursor:pointer;
	padding: 0 20px;
	box-shadow:1px 0px 5px gray;
}
#request:hover {
	opacity: .7;
}	


#credits
{
padding: 20px;
background-color:#fff;
color: #aaa;
position: absolute;
left: 150px;
border-radius: 5px;
border: 1px solid #aaa;
z-index: 999;
display: none;
}

#credits table {
	padding: 3px;
}

.bold {
	font-weight: bold;
}

#Notes {
	margin-top: 10px;
}
svg {
  width: 800px;
  height: 800px;
  pointer-events: all;
 /*margin: 0px auto 0 25%;*/
 margin-left: 50%;
}

circle {
  fill: #dbe4f0;
}

path {
 /* fill: #ededed;*/
 
  stroke: #fff;
  cursor: auto;
}

.hasPerson {
	/* fill: #aaa;*/
  cursor: pointer;
}

.countrycolor {
	fill: #ddc;
}
.rounded-corners {
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

/* MEDIA QUERIES ..................................*/
/* MOBILE */
@media (min-width:320px) and (max-width:600px){
	.col-md-4 img {
		display: none;
	}
	#globe {
		display: none;
	}
	#countriesTab {
		display: none;
	}
	#content #panel {
		border: none !important;
		box-shadow: none !important;
		padding: 20px;
		right: auto;
		width: 360px;
		overflow: auto;
		display: block;
		position: absolute !important;
		left: 170px;
		top: 170px !important;
		-moz-box-sizing: none !important;
		
	}
	#loader {
		display: none;
	}
	#bigsmall {
		display: none;
	}
	#person_wrapper {
		display: none;
		position: absolute;
		left: 10px !important;
		z-index: 10;
		border-radius: 5px;
		background-color: white;
		padding: 20px;
		max-width: auto;
		min-width: 95%;
		/*max-width: 40%;
		height: auto;*/
	}
	.col-md-4 {
		border-left: none;
		
	}
	#request {
		position: fixed;
		top: 80%;
		
	}
	.socialWrapper {
		position: fixed;
		z-index: 4;
	}
	#Notes {
		border-bottom: 1px solid #aaa !important;
	}
	#credits
	{
	padding: 20px;
	background-color:#fff;
	color: #aaa;
	position: absolute;
	left: 10px;
	bottom: 10px;
	border-radius: 5px;
	border: 1px solid #aaa;
	z-index: 999;
	display: none;
	}

}