body {
	background-color:black;
	overflow-x:hidden;
}

h1 {
	font-family:"Cinzel", Times New Roman, serif;
	font-weight:normal;
	color:#706D6D; /*#454343;*/
	text-align:center;
	margin:0;
	padding:10px 1%;
	line-height:.8em;
	font-size:45pt;

	top:0;
	left:0;
	width:98%;
	
}

.header {
	font-family:"Cinzel", Times New Roman, serif;
	font-weight:normal;
	color:#706D6D; /*#454343;*/
	text-align:center;
	margin:0;
	padding:5px;
	border-bottom: 1px solid #007fd4;
	font-size:25pt;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:black;
	z-index:2;
	transition: all .5s;
	display:none;
}

.intro {
	top:0;
	right:0;
	height:100%;
	position:fixed;
	transition:all .5s;
}

	.intro .text {
		font-family:"Muli", Helvetica, Arial;
		color:white;
		font-size:11pt;
		letter-spacing:.1em;
		width:80%;
		margin:auto;
		text-align:center;
	}
	
		.intro .text p:first-child {
			margin-top:0;
		}

	.intro .label {
		color:#888;
		font-family:"Muli", Helvetica, Arial;
		font-size:10pt;
		font-style:italics;
		width:50%;
		margin:10px auto;
		text-align:center;
		
	}
	
	.intro .button {
		text-align:center;
		width:100%;
		
	}
	
		.intro .button .fa-globe {
			font-size:100pt;
			color:#007fd4;
			text-shadow:0px 0px 5px #007fd4;
			opacity:.25;
			transition:opacity 2s;
		}

.browse {
	position:relative;
	top:100%;
	transition:all .5s;
	width:100%;
	height:100%;
}

	.browse ul {
		padding:0;
		margin:0;
		margin-top:75px;	
		text-align:center;
	}
	
		.browse li {
			padding:20px 0;
			margin:0;
			list-style:none;
			font-family: "Muli", Helvetica, Arial, sans-serif;
			letter-spacing: .12em;
			font-size: 8pt;
			text-transform: uppercase;
			margin-bottom: 9px;
			font-weight: bold;
			position: relative;
			top: 0px;
			color:gray;
		}
		
			.browse li.inactive {
				display:none;
			}



.story {
	top:0;
	background-color:white;
	left:100%;
	position:absolute;
	width:100%;
	transition: all .5s;
	display:none;
}


	.story h1
	{
	font-family:"Cinzel", "Time New Roman", serif;
	font-weight: normal;
	font-size:20pt;
	line-height:1.1em;
	text-transform: uppercase;
	margin-bottom: 10px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
	
	.story h2 {
		font-family: "Muli", Helvetica, Arial, sans-serif;
		font-weight:bold;
		padding:0;
		margin:0px auto 5px;
		font-size:20pt;
		width:80%;
	}
	
	.story .superscript {
		font-family:"Cinzel", "Time New Roman", serif;
		font-size:12pt;
		color: #007fd4;
		text-transform:uppercase;
		width:80%;
		margin:20px auto 0px;
		font-weight:bold;
	}
	
		.story ul.bio{
			font-family: "Muli", Helvetica, Arial, sans-serif;
			padding:0;
			margin:5px auto;
			font-size:13pt;
			width:80%;
			list-style:none;
		}
			
			.story ul.bio li {
				padding:0;
				margin:0 0 5px 0;
			}
			
			.story ul.bio li .fa{
				margin-right:10px;
			}
		
		
	.story .text
	{
	width:80%;
	margin:auto;
	font-family:"Muli", sans-serif;
	font-size:11pt;
	line-height:1.7em;
	display: inline-block;
	position: relative;
	display:block;
	}
	
		.story .text p{
			margin:10px auto;
		}
	
	.story video
	{
		margin-top:60px;
		width:100%;
		display:block;
		border-bottom:1px solid gray;
	}
	
.socialBar {
	position:fixed;
	text-align:center;
	top:0;
	left:0;
	width:100%;
	padding:10px 0;
	border-bottom:1px lightgray;
	box-shadow:0px 2px 5px lightgray;
	background-color:white;
	z-index:2;
}
	.socialButton {
		display:inline-block;
		height: 40px;
		width: 40px;
		border-radius:20px;
		color:white;
		background-color:darkred;
		margin-right:15px;
		font-size:18px;
		line-height:40px;
	}
		.socialButton:last-child {
			margin-right:0;
		}
		
	.socialButton#facebook { background-color:#3B5998; }
	.socialButton#twitter { background-color:#4099FF; }
	.socialButton#share { background-color:seagreen; }
	.socialButton #back{ background-color:darkred; }	
	.socialButton #twitter { background-color:#4099FF; }

	
.tellUs {
	display:none;
	position:absolute;
	top:0;
	left:100%;
	width:100%;
	transition:all .5s;
	background-color:white;
	font-family:"Muli", sans-serif;
}
	.tellUs .text
	{
	width:90%;
	margin:auto;
	}
	
	.tellUs form {
		width:90%;
		margin:auto;
	}
	
	.tellUs .divider {
		width:95%;
		background-color:#007fd4;
		height:5px;
		margin:10px 0px 20px;
	}
	
	.tellUs input, .tellUs select, .tellUs textarea {
		min-height:30px;
		width:95%;
		margin-bottom:15px;
	}
	
	.tellUs textarea {
		height:60px;
	}
	
	.tellUs .label
	{
	text-transform:uppercase;
	color:gray;
	font-size:10pt;
	}
	
	.tellUs input.button, #return {
		padding:10px;
		height:50px;
		border:1px solid lightgray;
		text-align:center;
		font-family:sans-serif;
		text-transform:uppercase;
		background-color:#007fd4;
	}
	
.story 	img {
width:100%
}